<p><%= link_to 'Cats', cats_path %></p>
<p><%= link_to 'Breeds', breeds_path %></p>

<% if current_user %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>