// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  flex-direction:row;
}

.count-container {
  margin-left: 20px;
}

.button-breed {
  margin-top: 15px;
  margin-left: 20px;
}